*.elc
*~
autoloads.el
cus-dirs.el
archive/
backups/
compile.log
data-alt/
data/
ede-projects.el
emms/
eshell/
info/
mirror
override/cc-mode/
site-lisp/.loaddefs.el
site-lisp/.status.el
srecode-map.el
var/
broken.el
logs/
/#init.el#
/#org-settings.el#
/dkh-core.el
/dkh-functions.el
/dkh-keybindings.el
/dkh-org.el
/elpa/archives/ELPA/archive-contents
/elpa/archives/Marmalade/archive-contents
/elpa/archives/gnu/archive-contents
/elpa/color-theme-6.5.5/color-theme-autoloads.el
/elpa/color-theme-6.5.5/color-theme-pkg.el
/elpa/color-theme-6.5.5/color-theme.el
/elpa/color-theme-solarized-20120301/color-theme-solarized-autoloads.el
/elpa/color-theme-solarized-20120301/color-theme-solarized-pkg.el
/elpa/color-theme-solarized-20120301/color-theme-solarized.el
/elpa/color-theme-solarized-20120301/solarized-dark-theme.el
/elpa/color-theme-solarized-20120301/solarized-definitions.el
/elpa/color-theme-solarized-20120301/solarized-light-theme.el
/elpa/jira-0.3.3/jira-autoloads.el
/elpa/jira-0.3.3/jira-pkg.el
/elpa/jira-0.3.3/jira.el
/elpa/smarter-compile-2012.4.9/smarter-compile-autoloads.el
/elpa/smarter-compile-2012.4.9/smarter-compile-pkg.el
/elpa/smarter-compile-2012.4.9/smarter-compile.el
/elpa/smex-1.1.2/smex-autoloads.el
/elpa/smex-1.1.2/smex-pkg.el
/elpa/smex-1.1.2/smex.el
/elpa/solarized-theme-0.5.0/solarized-dark-theme.el
/elpa/solarized-theme-0.5.0/solarized-light-theme.el
/elpa/solarized-theme-0.5.0/solarized-theme-autoloads.el
/elpa/solarized-theme-0.5.0/solarized-theme-pkg.el
/elpa/solarized-theme-0.5.0/solarized-theme.el
/org-clock-save.el
/workgroups
